<h1>Real-Time Video Captioning</h1>

<h3>Importing Libraries and Dependecies</h3>

In [2]:
import string
import numpy as np
import pandas as pd
import cv2
import matplotlib.pyplot as plt

from nltk.tokenizer import word_tokenize
from nltk.stem import WordNetLemmatizer

from tensorflow.keras.models import Model, Sequential
from tensorflow.keras.layers import Input, Conv2D, LSTM, Embedding, Dense

<h3>Data Extraction</h3>

In [3]:
df = pd.read_csv("captions.txt")

In [4]:
df.head(6)

,image,caption
0,1000268201_693b08cb0e.jpg,A child in a pink dress is climbing up a set o...
1,1000268201_693b08cb0e.jpg,A girl going into a wooden building .
2,1000268201_693b08cb0e.jpg,A little girl climbing into a wooden playhouse .
3,1000268201_693b08cb0e.jpg,A little girl climbing the stairs to her playh...
4,1000268201_693b08cb0e.jpg,A little girl in a pink dress going into a woo...
5,1001773457_577c3a7d70.jpg,A black dog and a spotted dog are fighting

<h3>Data Exploratory Analysis</h3>

In [5]:
df.shape

(40455, 2)

In [6]:
df.columns

Index(['image', 'caption'], dtype='object')

In [7]:
df.dtypes

image      object
caption    object
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   image    40455 non-null  object
 1   caption  40455 non-null  object
dtypes: object(2)
memory usage: 632.2+ KB

In [9]:
df.describe()

                            image                         caption
count                       40455                           40455
unique                       8091                           40201
top     1000268201_693b08cb0e.jpg  Two dogs playing in the snow .
freq                            5                               7

<h3>Data Preprocessing Steps</h3>

<h4>1. Validation and Cleansing</h4>

In [10]:
df.isna().sum()

image      0
caption    0
dtype: int64

In [11]:
df.duplicated().sum()

10

In [12]:
df.drop_duplicates(inplace=True)

In [13]:
df.duplicated().sum()

0

<h4>2. Image Resizing and Reshapping</h4>

In [ ]:
images = []
for counter, img in enumerate(df['image']):
    image = cv2.imread(f"../dataset/images/{img}")
    image_rgb = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)
    resized_image = cv2.resize(image_rgb, (256, 256))
    images.append(resized_image)

<h4>2. Pixel Normalization</h4>

<h4>3. Caption Normalization</h4>

In [ ]:
df['caption'] = df['caption'].str.lower()

In [ ]:
df.head(3)

<h4>Punctuation Removal</h4>

In [ ]:
df['caption'] = df['caption'].translate(str.maketrans("", "", string.punctuation))

In [ ]:
df.head(3)